<% include header %>
	<table>
		<% movies.forEach(function(movie){ %>

			<tr>
				<!--  for each attribute of the movie we're currently processing, create one cell for each-->
				forEach tablerow.length
				<td>  movi.attribute-1  </td>
			</tr>
			

  		<% }) %>
	</table>
<% include footer %>